{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.issue_edit.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.issue_edit.page_title'|trans }}&nbsp;&nbsp;<small><a href="{{ path('issue_show', { 'id': entity.id }) }}">view</a></small></h1>

    {{ form(edit_form) }}

{% endblock %}
