{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - Issue creation' %}

{% block content %}
    <h1>Issue creation</h1>

    {{ form(form) }}

    <div class="row">
        <a href="{{ path('issue') }}">Back to the list</a>
    </div>
{% endblock %}
