{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.issue_create.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.issue_create.page_title'|trans }}</h1>

    {{ form(form) }}

{% endblock %}
