{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    An Error Occurred: {{ status_text }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <strong>Error</strong> The server returned a "{{ status_code }} {{ status_text }}".
        </div>
    </div>
{% endblock %}
