{% extends 'DteBtsBundle::base.html.twig' %}

{% block title %}
    {{ 'bts.page.user_edit.head_title'|trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'bts.page.user_edit.page_title'|trans }}</h1>

    {{ form(edit_form) }}

    <div class="row">
        <span>{{ form(delete_form) }}</span>
    </div>

{% endblock %}
