{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - User edit' %}

{% block content %}
    <h1>User edit</h1>

    {{ form(edit_form) }}

    <div class="row">
        <a href="{{ path('user') }}">Back to the list</a>
        <br />
        <span>{{ form(delete_form) }}</span>
    </div>

{% endblock %}
