{% extends 'DteBtsBundle::base.html.twig' %}

{% block title 'Bug tracking system - Project creation' %}

{% block content %}
    <h1>Project creation</h1>

    {{ form(form) }}

    <div class="row">
        <a href="{{ path('project') }}">Back to the list</a>
    </div>
{% endblock %}
